* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: aqua;
  background-size: cover;
  height: 100%

}

.app-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .app-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */